* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: rgb(7, 7, 7);
   
    height: 100vh;
    gap: 50px;
}

.form {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   background: rgba(88, 10, 13, 0.586);
    max-width: 450px;
    height: 80vh;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(14, 2, 3, 0.825);
    gap: 20px;
    padding: 20px;
}

.box-login {
    z-index: 2;
}

.box-register {
    z-index: 1;
}

.box-login, .box-register {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
    width: 100%;
    height: 100%;
}

.form h2 {
    padding: 30px;
    font-size: 30px;
}

.form h2 span {
    font-size: 20px;
}

.form .div-class-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form .div-class-input label {
    transform: translate(10px) translateY(-28px);
    color: rgb(205, 195, 195);
    transition: 0.5s all;
   
}
.div-class-input label{
   display: flex;
   align-items: center;
   gap: 8px;
   margin-top: -10px;

}

.form .div-class-input input {
    transition: 1s all;
}

.form .div-class-input input {
    border: 2px solid rgb(88, 10, 13);
    border-radius: 10px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 20px;
    background: rgba(1, 0, 0, 0.432);
   box-shadow: 0px 0px 10px rgba(88, 10, 13, 0.649);
}

.form .div-class-input input:focus {
    border: 2px solid rgba(12, 12, 12, 0.23);
}

.form .opt {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.form .opt #forgot-pass {
    position: absolute;
    left: 0;
    color: rgb(205, 195, 195);
}

.form .opt label {
    cursor: pointer;
    width: fit-content;
    color: rgb(205, 195, 195);
    font-weight: normal;
}

.form .opt input {
    width: 20px;
    cursor: pointer;
    box-shadow: none;
}

.form .opt input:focus {
    outline: none;
}

.form .opt button {
    cursor: pointer;
    background: transparent;
    color: rgb(205, 195, 195);
    border-bottom: 1px solid transparent;
    border: none;
}

.form .submit {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    color: rgb(27, 25, 25);
    font-size: 18px;
    font-weight: bold;
    background: rgba(153, 20, 22, 0.701);
    border: none;
}
.form .submit:hover{
    box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.701) ;
}

.form span {
    font-size: 14px;
    color: rgba(11, 11, 11, 0.87);
}

.form .box-login span button, 
.form .box-register span button {
    cursor: pointer;
    background: transparent;
    color: rgb(19, 19, 19);
    border-bottom: 1px solid transparent;
    border: none;
}
#to-log{
    color: rgb(205, 195, 195);
}
#to-reg{
     color: rgb(205, 195, 195);
}
.donthaveacc{
    color: rgb(0, 0, 0);
}
.myvid{
    position: fixed;
    right:  0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -100;
}
body::after{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: -99;
}


/*البطمة الي لوطا*/

.back-home-btn{
    position: fixed;      
    bottom: 20px;         
    left: 20px;           
    padding: 10px 20px;
    background-color: #631414;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: sans-serif;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    z-index: 1000;        
}



